@font-face {
  font-family: "Bricolage Grotesque";
  src: url("/fonts/BricolageGrotesque-VariableFont.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #fafafa;
}

.gradient-effect {
  background: radial-gradient(
    circle at 0% 0%,
    #b6cdf2 0%,
    #e1ecf4 14.3%,
    #fba141 28.6%,
    #f76c56 42.9%,
    #fa0b41 57.1%,
    #e02173 71.4%,
    #733b7f 85.7%,
    #15416c 100%
  );
  background-size: 200% 200%;
  animation: moveGradient 16s linear infinite alternate;
}

.gradient-effect-two {
  background-image: linear-gradient(to bottom, #ffffff, transparent);
}

.font-bg {
  font-family: "Bricolage Grotesque" !important;
}

a {
  text-decoration: none;
  color: #000000;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
